.backToTopButton {
  position: fixed;
  bottom: 5.5rem; /* espacio por encima del WhatsApp */
  right: 1.5rem;
  background-color: #a8e063;
  color: #1d2b53;
  border: none;
  padding: 0.75rem;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
}

.backToTopButton:hover {
  background-color: #a8e069;
  color: #1a1a1a;
}

.icon {
  font-size: 1.3rem;
}
